<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO"
    strict="true"
    packages="org.apache.logging.log4j">
    <Properties>
        <Property name="filename">logs/test.log</Property>
    </Properties>
    <Appenders>
        <Appender name="Console" type="Console">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Appender>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>
        <Appenders>
            <TextAreaAppender name="TextAreaAppender">
                <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %c{1}:%L - %m%n"/>
            </TextAreaAppender>
        </Appenders>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="TextAreaAppender"/>
        </Root>
        <Root level="debug">
            <AppenderRef ref="TextAreaAppender"/>
        </Root>
    </Loggers>
</Configuration>
